@import url("https://fonts.googleapis.com/css2?family=Alkatra&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alkatra&family=Roboto+Slab:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alkatra&family=Merriweather:ital,wght@1,300;1,400&family=Roboto+Slab:wght@300&display=swap");

* {
  box-sizing: border-box;
  font-family: "Merriweather", "Roboto Slab", "Alkatra", cursive;
}

.favoritesContainer {
  margin: auto;
  display: flex;
  flex-direction: column;
}

.favoritesContainer > * {
  margin: auto;
}

.favoritesContainer > header {
  margin-bottom: 20px;
}

.favoritesContainer > main {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.favoritesContainer > main > h1 {
  margin: auto;
  margin-bottom: 30px;
}

.favoritesContainer > main > * {
  margin: auto;
}

.favoritesContainer > main > h3 {
  position: relative;
  bottom: 20px;
}

#favoriteWorks {
  margin-bottom: 30px;
}
