.favoritesContainer {
  margin: auto;
  display: flex;
  flex-direction: column;
}

.favoritesContainer > * {
  margin: auto;
}

.favoritesContainer > main {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.favoritesContainer > main > h1 {
  margin: auto;
  margin-bottom: 30px;
}

.favoritesContainer > main > * {
  margin: auto;
}

#favoriteWorks {
  margin-bottom: 30px;
}
