@import url("https://fonts.googleapis.com/css2?family=Alkatra&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alkatra&family=Roboto+Slab:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alkatra&family=Merriweather:ital,wght@1,300;1,400&family=Roboto+Slab:wght@300&display=swap");

* {
  box-sizing: border-box;
  font-family: "Merriweather", "Roboto Slab", "Alkatra", cursive;
}

.frameContainer {
  position: relative;
  display: flex;
  flex-direction: column;
}

.frameContainer > * {
  margin: auto;
}

.frameContainer > header {
  margin-bottom: 30px;
}

.frameContainer > header > * {
  margin: auto;
}

.frameContainer > main {
  display: flex;
  align-items: flex-start;
}

.frameContainer > main > * {
  margin-left: auto;
  margin-right: auto;
}

.sideBar {
  max-width: 25%;
  display: flex;
  flex-direction: column;
  padding-top: 5%;
}

.sideBar > * {
  margin-left: auto;
  margin-right: auto;
}

.framedWorkInfo {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 100%;
}

.framedWorkInfo > * {
  margin: auto;
  text-align: center;
}

@keyframes fade-in {
  from {
    opacity: 0.2;
    right: 10px;
  }

  to {
    opacity: 1;
    right: 0;
  }
}

.framedWorkText {
  margin: auto;
  animation-duration: 2s;
  animation-name: fade-in;
  animation-iteration-count: 1;
  position: relative;
}

.framedWorkText > * {
  margin: auto;
  text-align: center;
}

.framedWorkTitle {
  margin: auto;
  text-align: center;
  overflow-wrap: normal;
}

@keyframes float-up {
  from {
    opacity: 0.2;
    top: 30px;
  }

  to {
    opacity: 1;
    top: 0;
  }
}

.tagContainer {
  display: flex;
  flex-wrap: wrap;
  max-width: 120%;
  animation-duration: 2s;
  animation-name: float-up;
  animation-iteration-count: 1;
  animation-delay: 1.2s;
  animation-fill-mode: forwards;
  position: relative;
  left: 8px;
  opacity: 0;
}

.framedImage > * {
  width: 100%;
}

@media (max-width: 1100px) {
  .sideBar {
    max-width: 20%;
    padding-top: 0;
  }

  .framedImage {
    max-width: 60%;
  }

  .frameContainer > body {
    margin-right: 10px;
  }

  .tagContainer {
    width: 300px;
    position: relative;
  }

  .tagContainer > * {
    margin-bottom: 10px;
  }

  .framedWorkInfo {
    position: relative;
    left: 35px;
  }

  .frameContainer > footer {
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    justify-self: flex-end;
  }
}

@media (max-width: 700px) and (orientation: portrait) {
  .frameContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .frameContainer > main {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    max-width: 100%;
  }

  .tagContainer {
    width: 300px;
    display: flex;
    position: relative;
    left: 0;
  }

  .tagContainer > * {
    margin: auto;
  }

  .framedWorkInfo {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    left: 0;
  }

  .framedWorkInfo > * {
    margin: auto;
  }

  .sideBar {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    align-items: center;

    position: relative;
  }
}

@media (max-width: 1100px) and (orientation: portrait) {
  .frameContainer > main {
    margin-bottom: 260px;
  }
}

@media (max-width: 1100px) and (orientation: landscape) {
  .frameContainer > main {
    margin-bottom: 100px;
  }
}
