.headerContainer {
  position: relative;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.searchButton {
  height: 25px;
  width: 25px;
  background: none;
  border: none;
}

.searchButton > img {
  width: 150%;
  height: auto;
}
