.headerContainer {
  display: flex;
}

input {
  font-family: serif;
}

.headerContainer > * {
  margin: auto;
}

.headerContainer > form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.searchButton {
  height: 25px;
  width: 25px;
  background: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchButton > img {
  width: 150%;
  height: auto;
}

.homeButton {
  display: flex;
  align-items: center;
  justify-content: center;
}

.favoritesButton {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  font-size: 18px;
}

.favoritesButton > img {
  width: 20px;
  height: auto;
}

.navigationButtons {
  display: flex;
}
