@import url("https://fonts.googleapis.com/css2?family=Alkatra&family=Roboto+Slab:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alkatra&display=swap");

.headerContainer {
  display: flex;
}

input {
  font-family: serif;
}

.headerContainer > * {
  margin: auto;
}

.searchButton {
  height: 25px;
  width: 25px;
  background: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchButton > img {
  width: 150%;
  height: auto;
}

.homeButton {
  display: flex;
  align-items: center;
  justify-content: center;
}

.favoritesButton {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  font-size: 18px;
  font-family: "Alkatra", "Roboto Slab", cursive;
}

.favoritesButton > img {
  width: 20px;
  height: auto;
}

.navigationButtons {
  display: flex;
}
