@import url("https://fonts.googleapis.com/css2?family=Alkatra&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alkatra&family=Roboto+Slab:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alkatra&family=Merriweather:ital,wght@1,300;1,400&family=Roboto+Slab:wght@300&display=swap");

* {
  box-sizing: border-box;
  font-family: "Merriweather", "Roboto Slab", "Alkatra", cursive;
}

body {
  margin: 0;
  padding: 0;
  padding-top: 10px;
}

body > * {
  margin: auto;
}

li {
  list-style-type: none;
}

.light {
  background-color: white;
  color: black;
}

.dark {
  background-color: black;
  color: white;
}

.thumbNails {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 400px;
  justify-content: center;
}

.thumbNails > * {
  margin: auto;
  text-align: center;
}

.thumbNailImg {
  max-height: 75%;
  max-width: 90%;
}

.thumbNailTitles {
  max-width: 100%;
}

.thumbNailArtists {
  max-width: 90%;
}

.homeContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.homeContainer > * {
  margin: auto;
}

.homeContainer > header {
  margin-bottom: 20px;
}

.homeContainer > main {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.homeContainer > main > * {
  margin: auto;
}

.homeContainer > main > h1 {
  margin-bottom: 30px;
}

.worksList {
  height: auto;
  width: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  row-gap: 80px;
  column-gap: 60px;
  position: relative;
  right: 24px;
}

.worksList > * {
  margin: auto;
}

@media (max-width: 1000px) {
  .worksList {
    display: flex;
    flex-direction: column;
    position: relative;
    right: 27px;
  }

  * {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 1200px) {
  .worksList {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6, 1fr);
    column-gap: 10px;
    overflow-x: hidden;
  }

  .homeContainer {
    overflow-x: hidden;
  }
}
