@import url("https://fonts.googleapis.com/css2?family=Alkatra&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alkatra&family=Roboto+Slab:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alkatra&family=Merriweather:ital,wght@1,300;1,400&family=Roboto+Slab:wght@300&display=swap");

* {
  box-sizing: border-box;
  font-family: "Merriweather", "Roboto Slab", "Alkatra", cursive;
}

body {
  margin: 0;
  padding: 0;
  padding-top: 10px;
}

body > * {
  margin: auto;
}

li {
  list-style-type: none;
}

.light {
  background-color: white;
  color: black;
}

.dark {
  background-color: black;
  color: white;
}

.thumbNails {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: auto;
  justify-content: flex-end;
}

.thumbNails > * {
  margin: auto;
  margin-bottom: 5px;
  text-align: center;
}

.thumbNails > img {
  max-width: 300px;
}

.homeContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.homeContainer > * {
  margin: auto;
}

.homeContainer > header {
  margin-bottom: 20px;
}

.homeContainer > main {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.homeContainer > main > * {
  margin: auto;
}

.homeContainer > main > h1 {
  margin-bottom: 50px;
}

.worksList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  align-items: start;
  height: 2400px;
  column-gap: 40px;
  row-gap: 40px;
}

.worksList > * {
  margin: auto;
}

@media (max-width: 1100px) {
  .worksList {
    display: flex;
    flex-direction: column;
    height: auto;
  }

  * {
    margin-left: auto;
    margin-right: auto;
  }
}
