* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  padding-top: 10px;
}

body > * {
  margin: auto;
}

li {
  list-style-type: none;
}

.light {
  background-color: white;
  color: black;
}

.dark {
  background-color: black;
  color: white;
}

.thumbNails {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: auto;
  justify-content: flex-end;
}

.thumbNails > * {
  margin: auto;
  margin-bottom: 5px;
  text-align: center;
}

.thumbNails > img {
  max-width: 300px;
}

.homeContainer {
  display: flex;
  flex-direction: column;
  position: relative;
}

.homeContainer > * {
  margin: auto;
}

.homeContainer > main {
  display: flex;
  flex-direction: column;
}

.homeContainer > main > * {
  margin: auto;
}

.worksList {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  align-items: end;
  column-gap: 50px;
}
