.searchContainer > * {
  margin-left: auto;
  margin-right: auto;
}

.searchContainer {
  margin: auto;
  display: flex;
  flex-direction: column;
}

.searchContainer > main {
  display: flex;
  flex-direction: column;
  position: relative;
}

.searchContainer > main > * {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.searchContainer > main > h4 {
  position: relative;
  bottom: 30px;
}

.pageButton {
  border: none;
  background: none;
}

.pageNavBar {
  display: flex;
}

.arrowButton {
  background: none;
  border: none;
  color: blue;
}

.pageNumbers {
  display: flex;
}

.homeButton {
  border: none;
  background: none;
}

.searchResults {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  align-items: start;
  height: 2400px;
  column-gap: 90px;
  row-gap: 20px;
  position: relative;
  bottom: 70px;
}
