@import url("https://fonts.googleapis.com/css2?family=Alkatra&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alkatra&family=Roboto+Slab:wght@300&display=swap");

* {
  box-sizing: border-box;
  font-family: "Roboto Slab", "Alkatra", cursive;
}

.searchContainer > * {
  margin-left: auto;
  margin-right: auto;
}

.searchContainer {
  margin: auto;
  display: flex;
  flex-direction: column;
}

.searchContainer > main {
  display: flex;
  flex-direction: column;
  position: relative;
}

.searchContainer > main > * {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.searchContainer > main > h1 {
  margin-bottom: 10px;
}

.searchContainer > main > h3 {
  position: relative;
  bottom: 25px;
  margin-bottom: 60px;
}

.thumbNails {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 400px;
  justify-content: center;
}

.thumbNails > * {
  margin: auto;
  text-align: center;
}

.thumbNailImg {
  max-height: 75%;
  max-width: 90%;
}

.thumbNailTitles {
  max-width: 100%;
}

.thumbNailArtists {
  max-width: 90%;
}

.pageButton {
  border: none;
  background: none;
}

.pageNavBar {
  display: flex;
}

.arrowButton {
  background: none;
  border: none;
  color: blue;
}

.pageNumbers {
  display: flex;
}

.homeButton {
  border: none;
  background: none;
}

.searchResults {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  align-items: start;
  column-gap: 90px;
  row-gap: 20px;
  position: relative;
  right: 20px;
  bottom: 70px;
}

@media (max-width: 1000px) {
  .searchResults {
    display: flex;
    flex-direction: column;
    height: auto;
  }

  * {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 1100px) {
  .searchResults {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6, 1fr);
    position: relative;
    right: 20px;
  }
}

@media (max-width: 1200px) {
  .searchResults {
    column-gap: 10px;
  }
}
