.pageButton {
  border: none;
  background: none;
}

.pageNavBar {
  display: flex;
}

.arrowButton {
  background: none;
  border: none;
  color: blue;
}

.pageNumbers {
  display: flex;
}

.homeButton {
  border: none;
  background: none;
}
